.categories__title {
  //background: #2E4053;
  color: white;
  font-size: 16px;
  margin-top: -16px;
  position: absolute;
  padding: 10px;
  padding-left: 30px;
  width: 100%;
}

@media only screen and (max-width: 640px)
{
  .categories{
    /* padding:0px; */
    display: flex;
    flex-direction: column;
  }
  .categories__title {
    position: relative;
    margin-top: 0px;
    padding: 0px;
    padding-left: 0px;
    width: 100%;
  }
}